{% extends 'base.html' %}
    {% block content %}
        <h1>Create</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label>Title:</label>
            <input type="text" name="title"><br><br>
            <label>Year:</label>
            <input type="number" name="year"><br><br>
            <label></label>
            <textarea name="summary" placeholder="Summary" rows="4" cols="22" style="margin-left: 37px;"></textarea><br><br>
            <button type="submit"style="margin-left: 37px;">create</button>
        </form>
    {% endblock %}
