.derma{
    background-color: rgb(43, 104, 43);
    color: white;
    width: 600px;
    /* height: 150px; */
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-top: 2px;
    margin-bottom: 40px;

}
.derma h1{
    font-size: 30px;
}
.derma p{
    font-size: 16px;
}