.container{
    display: flex;
    width: 900px;
    flex-wrap: wrap;
    gap:10px;
}
.doctors img{
    width: 200px;
    height: 200px;
    border: none;
}
.doctors{
    width: 203px;
    border: 2px solid grey;
    text-align: center;
    margin-left: 75px;
    margin-bottom: 75px;
}
